/* CSS (style.css) */
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  background: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login {
  color: #ff7f50;
  text-decoration: none;
  font-weight: 600;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 50px;
  background: white;
}

.hero-content h1 {
  font-size: 3rem;
  color: #333;
}

.hero-content span {
  color: #ff7f50;
  font-weight: bold;
}
.hero-image img {
  max-width: 1000px;
  height: 180px;
}

.btn {
  background: #ff7f50;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 30px 50px;
  border-radius: 10px;
}

.search-item {
  display: flex;
  flex-direction: column;
}

.search-item label {
  font-weight: 600;
  margin-bottom: 5px;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
